.app-footer {
    grid-area: footer;
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;

    .socials {
        opacity: 0.8;
    }
}
